<div id="introduction" data-traverse-target="introduction">
  <h1 class="doc-title">{{info.title}} <span>API Reference</span></h1>
  <div class="doc-row">
    <div class="doc-copy">
      {{md info.description}}
    </div>
    <div class="doc-examples">
      <section>
        {{#if host}}
          <h5>API Endpoint</h5>
          <!-- <div class="hljs"> -->
            <pre><code>{{swaggerEndpoint}}</code></pre>
          <!-- </div> -->
        {{/if}}

        {{#if info.termsOfService}}
          <h5>Terms of Service:
            <a href="{{info.termsOfService}}">{{info.termsOfService}}</a>
          </h5>
        {{/if}}

        {{#if info.contact}}
          {{#if info.contact.email}}
            <h5>Contact:
              <a href="mailto:{{info.contact.email}}">{{info.contact.email}}</a>
            </h5>
          {{/if}}
        {{/if}}

        {{#if consumes}}
          <h5>Request Content-Types:
            <span>{{#each consumes}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}</span>
          </h5>
        {{/if}}

        {{#if produces}}
          <h5>Response Content-Types:
            <span>{{#each produces}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}</span>
          </h5>
        {{/if}}

        {{#if schemes}}
          <h5>Schemes:
            <span>{{#each schemes}}{{.}}{{#unless @last}}, {{/unless}}{{/each}}</span>
          </h5>
        {{/if}}

        {{#if info.version}}
          <h5>Version:
            <span>{{info.version}}</span>
          </h5>
        {{/if}}
      </section>
    </div>
  </div>
</div>
