{{!--
 Renders the security-section of the HTML-page
 TODO: Parameters
 @api public
--}}

{{#if securityDefinitions}}
  <!-- <h1 id="security" data-traverse-target="security">Security</h1> -->
  <h1 id="authentication" data-traverse-target="authentication">Authentication</h1>

  {{#each securityDefinitions}}
    <div id="security-definition-{{@key}}" class="panel">
      <div class="doc-row">
        <div class="doc-copy">
          <h3 class="security-definition-title">
            <span class="security-name">{{@key}}</span>
            <span class="swagger-security-definition-{{type}}"></span>
          </h3>
          <section class="swagger-security-definition-properties">
            {{#each this}}
              {{#ifin @key "['type', 'scopes']"}}
              {{else}}
                <div class="prop-row security-definition-property">
                  <div class="prop-name">
                    <div class="prop-title security-definition-property-name">{{@key}}</div>
                  </div>
                  <div class="prop-value security-definition-property-type">
                    {{#ifeq @key 'description'}}
                        {{md this}}
                    {{else}}
                        {{this}}
                    {{/ifeq}}
                  </div>
                </div>
              {{/ifin}}
            {{/each}}
          </section>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}
