{{#if x-spectacle-topics}}
  {{#each x-spectacle-topics}}
    <h1 id="topic-{{htmlId @key}}" data-traverse-target="topic-{{htmlId @key}}">{{@key}}</h1>
    <div class="panel">
      <div class="doc-row">
        <div class="doc-copy">
          {{md description}}
        </div>
        {{#if example}}
        <div class="doc-examples">
          <section>
          {{md example}}
          </section>
        </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
{{/if}}
