{{!--
  Original work Copyright (c) 2015 Nils Knappmeier
  https://github.com/bootprint/bootprint-json-schema
  
  Renders a reference to a subschema
--}}
{{#if $ref}}
  <span class="{{#if type}}json-schema-ref-{{type}}{{/if}}">
    <a class="json-schema-ref" href="{{schemaReferenceHref $ref}}">{{schemaSubschemaName $ref}}</a>
  </span>
{{else if items.$ref}}
  <span class="{{#if type}}json-schema-ref-{{type}}{{/if}}">
    <a class="json-schema-ref" href="{{schemaReferenceHref items.$ref}}">{{schemaSubschemaName items.$ref}}</a>
  </span>
{{/if}}
