{{!--
    Display a single parameter in a table row.
    @param {Parameter} parameter a parameter object
    @param {string=} key a reference key (if present, this is display in an additional
        column in front of the other columns
    @param {string=} $ref the reference path of the parameter, in case it is a reference to a default parameter
    @api public
--}}
<tr>
    {{#if key}}
        <td><a name="/parameters/{{key}}"></a>{{key}}</td>
    {{/if}}
    <td>
        {{parameter.name}}
    <td>{{md parameter.description}}</td>
    <td>{{parameter.in}}</td>
    <td>
        {{~>json-schema/datatype parameter ~}}
        {{~#if parameter.collectionFormat ~}}
            <span class="swagger-param-collection-format">,
                {{md (swagger-collection-format parameter.collectionFormat parameter.name) stripParagraph=true}}
            </span>
        {{~/if}}
    </td>
    <td>
        {{#if parameter.required}}
            <span class="json-property-required"></span>
        {{/if}}
        {{#if $ref}}
            <span class="swagger-global"></span> <span class="json-schema-reference"><a href="{{$ref}}">{{$ref}}</a></span>
        {{/if}}
    </td>
</tr>
