{{!--
    Renders a summary of this services ignoring tags, containing references to all operations and paths
    @todo params
    @api public
--}}
<h1 id="swagger-summary-no-tags">Summary</h1>
<table class="table table-bordered table-condensed swagger-summary">
    <thead>
    <tr>
        <th>Path</th>
        <th>Operation</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{#eachSorted paths}}
        {{#eachSorted .}}
            <tr>
                {{#if @first}}
                    <td class="swagger-summary-path" rowspan="{{@length}}">
                        <a href="#path-{{htmlId @../key}}">{{@../key}}</a>
                    </td>
                {{/if}}
                <td>
                    <a href="#operation-{{htmlId @../key}}-{{htmlId @key}}">{{toUpperCase @key}}</a>
                </td>
                <td>
                    {{md summary}}
                </td>
            </tr>
        {{/eachSorted}}
    {{/eachSorted}}
    </tbody>
</table>
